.slider {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__info {
    display: flex;
    align-items: center;
    & > * {
      flex-basis: 50%;
    }
  }
  &__info-img {
    background-color: $Bg-product-decription;
  }

  &__text {
    @include font($size: 1.4rem, $height: 2.4rem, $weight: 400, $style: normal);
    margin-right: 317px;
    & > div:first-child {
      padding-bottom: 16px;
    }
  }
  &__price {
    &-title {
      @include font(
        $size: 1.2rem,
        $height: 2.2rem,
        $weight: 400,
        $style: normal
      );
      padding: 12px 0 4px;
    }
    &-price {
      display: flex;
      gap: 12px;
      padding-bottom: 16px;

      & > div:first-child {
        @include font(
          $size: 2.4rem,
          $height: 2.9rem,
          $weight: 600,
          $style: normal
        );
      }
      & > div:last-child {
        @include font(
          $size: 2.2rem,
          $height: 2.9rem,
          $weight: 300,
          $style: normal
        );
        color: $Grey-primary;
        text-decoration: line-through;
      }
    }
    &-btn {
      @include btnBlue();
    }
  }
  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    &-item {
      width: 10px;
      cursor: pointer;
    }
  }
  &__arrow.left {
    padding-right: 8px;
    cursor: pointer;
  }
  &__arrow.right {
    padding-left: 8px;
    cursor: pointer;
  }
}
.dots-bg {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: $Light-blue;
}

.slider__dots-item.active {
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  border: 1px solid $Light-blue;
  position: relative;
}
.slider__dots-item.active .dots-bg {
  background-color: $Blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
