.slider {
  display: flex;
  width: 100%;
  height: 100%;
  &-box {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    overflow-y: auto;
    max-height: 400px;
  }
  &-images {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 10px 10px;
  }
  &-images-active {
    border: 2px solid blue;
  }
  &-main-box {
    flex: 1;
    width: 150px;
    height: 150px;
  }
  &-main-img {
    height: 100%;
    margin: 0 auto;
    cursor: pointer;
  }
  &-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
    & > * {
      width: 10px;
      height: 10px;
    }
  }
}
/* Modal */
.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  min-height: 400px;
  padding: 40px 20px 20px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 6px; /* Adjust the width to make it thin */
}

::-webkit-scrollbar-track {
  background: #fafafa; /* Lighter gray background for the track */
}

::-webkit-scrollbar-thumb {
  background: #ccc; /* Lighter gray color for the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* Slightly darker gray on hover */
}
