.layout-nav-list {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.layout-nav-list li {
  margin: 0;
  padding: 0 8px;
}

.active-link {
  background-color: #526cff;
  color: #3f3f3f;
}
