#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  /* max-width: 1440px; */
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 4px;
  text-align: center;
  color: #222222;
  background: #f6f6ff;
}
