.input-wrapper-header {
  position: relative;
  width: fit-content;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.input-wrapper-header .btn-show {
  position: static;
  margin-bottom: 20px;
}

.profile-fieldset {
  border: none;
}
