@media (max-width: 1300px) {
  .header {
    &__bottom-item {
      gap: 20px;
    }
  }
}
.header {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-shadow: $B-shadow-header;

  &__top {
    position: relative;
    line-height: 44px;
    background-color: $Grey;
  }

  &__top-item {
    font-weight: 500;
    color: $White;
    text-align: center;
  }

  &__top-item:last-child {
    position: absolute;
    top: 0;
    right: 100px;
    text-decoration: underline;
  }

  &__bottom {
    height: auto;
    display: flex;
    justify-content: space-between;
    //line-height: 82px;
  }
  &__bottom-item {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-wrap: wrap;
    align-items: center;
    & > a {
      z-index: 1101;
    }
  }
  &__bottom-hello {
    color: $Grey;
    white-space: nowrap;
  }
  &__bottom-item:last-child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
    stroke: $Black;
    justify-content: flex-end;
  }
  &__bottom-tel {
    @include font($size: 1.8rem, $height: 82px, $weight: 300, $style: normal);
    color: $Grey;
    padding-left: 25px;
    position: relative;

    &::before {
      content: url('../../assets/img/icons/phone-call.svg');
      position: absolute;
      top: 3px;
      left: 0;
      width: 20px;
      height: 20px;
    }
  }
  &__bottom-icon {
    width: 32px;
    height: 32px;
    transform: translateY(75%);
  }
  &__bottom-logo {
    max-width: none;
  }
}
.hello {
  color: $Grey;
  white-space: nowrap;
  @media (max-width: 450px) {
    white-space: wrap;
    font-size: 1.2rem;
    min-width: 310px;
  }
}
.header__bottom-item.hello .hello {
  line-height: 3rem;
}
.icon-header {
  color: $Grey;
  width: 3rem;
  height: 3rem;
}
.icon-header:hover {
  color: $Blue;
  transform: scale(1.2);
}
.icon-header-burger {
  color: $Black;
  width: 4rem;
  height: 4rem;
}
/* Lib burger */
#outer-container {
  display: none;
}

@media (max-width: 770px) {
  .header__bottom-item:last-child {
    padding-right: 80px;
    height: 82px;
  }
  .navigation {
    display: none;
  }
  #outer-container {
    display: block;
    width: 100%;
  }
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 20px;
    top: 20px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: hwb(229 22% 72%);
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: $Blue;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: $Grey;
  }

  /*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    max-height: 400px;
  }

  /* General sidebar styles */
  .bm-menu {
    background: $White;
    padding: 5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: $Grey;
    padding: 0.8em;
    //margin-top: 30px;
  }
  .navigation__list-burger {
    margin-bottom: 40px;
  }
  .navigation__list-item-burger > a {
    display: block;
    padding: 10px;
    cursor: pointer;
  }
  .navigation__list-item-burger:hover {
    color: $Blue;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    min-width: 100%;
    left: 0;
  }
}

.basket-count {
  position: relative;
  left: 45px;
  top: -20px;
  font-weight: 600;
}

icon-header:hover {
  .basket-count {
    color: $Blue;
  }
}
