.product {
  display: flex;
  flex-direction: column;
  &-wrapper {
    display: flex;
    gap: 50px;
    @media (max-width: 660px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  &__img-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    & > * {
      width: 100px;
    }
  }
}
.product__img-main:nth-child(1) {
  width: 400px;
}
.product__img-main:nth-child(1) {
  min-width: 300px;
}
.product__info-title {
  font-weight: bold;
  font-weight: 2.5rem;
  text-align: start;
  padding-bottom: 20px;
}
.product__info-text {
  font-weight: 2.5rem;
  text-align: start;
  padding-bottom: 20px;
}
.product__info-price {
  text-align: start;
  padding-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  & > span:nth-child(1) em {
    color: red;
    font-size: 2rem;
  }
  & span:nth-child(2) {
    display: block;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8rem;
    color: #a4a4a4;
    text-decoration: line-through;
    padding-right: 12px;
  }
}
.product-btn {
  padding-bottom: 20px;
}
.basketAddItem-btn,
.basketRemoveItem-btn {
  @include btnBlue($width: 100px, $height: 30px);
  @include font($size: 1.3rem, $height: 2rem, $weight: 500, $style: normal);
  &:hover {
    background: $Blue-dark;
  }
  height: 30px;
}
.basketRemoveItem-btn {
  width: 170px;
  margin-left: 20px;
}
.basketAddItem-btn:disabled,
.basketRemoveItem-btn:disabled {
  background: $Grey-primary;
  cursor: auto;
  color: $White;
  border: none;
}
.goBack-btn {
  align-self: flex-end;
  max-width: 100px;
  margin-bottom: 10px;
}
