.filter-box-btn {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.filter-btn {
  @include btnBlue;
  width: 80px;
  height: 30px;
  &:hover {
    background-color: $Blue-dark;
  }
}
