.we-working {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  max-width: 25vw;
}
.under-construction {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}

.wet-floor {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  max-width: 30vw;
}
