.we-working {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  max-width: 20vw;
}
.under-construction {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  max-width: 30vw;
}

.wet-floor {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  max-width: 20vw;
}

.not-found {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  width: 20vw;
}
