.category__card {
  min-width: 360px;
  height: 470px;
  position: relative;
  &-bg {
    min-width: 360px;
    width: 600px;
  }
  &__wrapper {
    position: absolute;
    left: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &-btn {
    @include btnInherit();
  }
}
